#toolbar {
    padding:20px;
    width:100%;
    /* margin-left:-35%; */
}

header {
    background:#3B8598;
    width:100%;
}

.basic-btn {
    /* width:10px; */
    margin:0;
    padding: 20px;
}

#page {
    padding:3em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}


@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    .form-panel{
        padding: 30px;
    }
}

.form-panel{
    padding: 50px 300px 100px 300px;
}

.btn-primary{
    width: 10%;
}

.lable{
    font-size: 16px;
}
.header{
    padding-bottom: 50px;
    text-align: center;
}

.back{
    padding-bottom: 20px;
}