<div class="form-container" id="toolbar">
  <input type="file" (change)="fileChange($event)" name="file" /> 

  <h4 *ngIf="showMessage">{{message}}</h4>
    <div id="page">
      
  
      <div class="row">
  
        
  
      </div>
      <table class="pure-table">
        <thead>
          <tr>
            <th>Cost</th>
            <th>Covered Area</th>
            <th>Date</th>
            <th>Duration</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
          </tr>
  
          <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
          </tr>
  
          <tr>
            <td>3</td>
            <td>Hyundai</td>
            <td>Elantra</td>
            <td>2010</td>
          </tr>
        </tbody>
      </table>
      <!-- <img src="assets/images/filler.png" /> -->
      <div class="row">
        <div class="col-lg-12">
          <button class="button button2">Add Yield</button>
        </div>
      </div>
    </div>
  
  
  
  </div>