<div class="form-container" id="toolbar">

  <header >
    <!-- <button (click)="logout()" style="margin: 20px;" class="basic-btn">Logout</button> -->
  </header>
  <form class="btn-panel" style="text-align: right;margin: 20px -200px 0px 0px;"  >

      

    <a routerLink="/form" id="goback"> <button (click)="logout()" style="width: 10%;border-radius: 5px;" class="basic-btn">Logout</button></a>

</form>

<div style="text-align: center;"><h4>The suggested fertilizer amounts per hactare depend on the zone (Dry or Wet), type of paddy, Age of the crop and the type of the fertilizer.
<br></h4> <h4 style="color: rgb(56, 164, 236);"> Instructions: Refer the following details & sumbit correct details.</h4></div>

  <div id="page" >
    <!-- <h2>Welcome {{ name.auth.displayName }}!</h2>
    -->
    <h2 style="text-align: center;">Welcome {{ name.auth.displayName }}!</h2>


    <div class="row">


    </div>
    <form class="form-panel" >

      

        <a routerLink="/form" id="goback"> <button type="submit" style="font-size: 16px;border-radius: 5px;" (click)="onSubmit()" class="button button2">Submit Details</button></a>
    
       
    </form>

      <div><img width="300px" src="../../assets/images/images/map.jpeg"></div>
 
        <p>
          Map of Sri Lanka. Climatic zones (dry and wet zones) of Sri Lanka, arbitrarily demarcated based on the annual rainfall.
        </p>
   



</div>


</div>













