
		<div class="page-wrap">

			<!-- Nav -->
				<!-- <nav id="nav">
					<ul>
						<li><a href="index.html" class="active"><span class="icon fa-home"></span></a></li>
						<li><a href="gallery.html"><span class="icon fa-camera-retro"></span></a></li>
						<li><a href="generic.html"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav> -->

			<!-- Main -->
				<section id="main">
          <!-- <video autoplay muted loop id="myVideo">
            <source src="../../assets/images/images/video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            <P style="color: aliceblue;">safaaf</P>
          </video> -->
					<!-- Banner -->
					<video width="100%" id=myVideo autoplay="1&loop=1"  height="auto" preload="auto" autoplay loop>
						<source src="../../assets/images/images/video.mp4" type="video/mp4">
					</video>
						<section id="banner">
						
							<div class="inner">
								<h1>Hey, I'm Agroshark</h1>
							
								<ul class="actions">
									<a routerLink="/login" ><li><a class="button btn alt scrolly big">Login</a></li></a>
								</ul>
							</div>
            </section>
        

					<!-- Gallery -->
						<!-- <section id="galleries">

			
								<div class="gallery">
									<header class="special">
										<h2>What's New</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="images/fulls/01.jpg"><img src="../../assets/images/images/fulls/01.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/05.jpg"><img src="../../assets/images/images/fulls/02.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/09.jpg"><img src="../../assets/images/images/fulls/03.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/02.jpg"><img src="../../assets/images/images/fulls/04.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/06.jpg"><img src="../../assets/images/images/fulls/05.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/10.jpg"><img src="../../assets/images/images/fulls/06.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/03.jpg"><img src="../../assets/images/images/fulls/07.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="images/fulls/07.jpg"><img src="../../assets/images/images/fulls/08.jpg" alt="" title="This right here is a caption." /></a>
										</div>
									</div>
							
								</div>
						</section> -->

					<!-- Contact -->
						<section id="contact" id=banner2 class="pannel">
							<!-- Social -->
								<div class="social column inner">
									<h3 style="color:#19B5FE;">About Me</h3>
									<p>We are a drone company which provides crop dusting solutions to farmers using our customizable plant health-based spraying drone. Arial Sprayers are the best proposed method to overcome the problems related to the health effects to farmers facing such dusting mechanism. This GPS enables and distance measurable drone will maintain a constant height above the fertilizer at the relevant location. It will reduce human exposure to harmful chemicals and prevent them from getting diseases and risking their life. We have worked to activate the nozzles above the crop in required spraying rate. The health-based nozzle activation will reduce the usage of chemicals and reduce the cost for production and enhance the yield in terms of quality and quantity. This plant health-based can reduce the water contamination and help to stop environmental pollution cause by overuse of fertilizer.</p>
									<p>All the chemicals are spraying according to the data determined by the Agriculture Department of Sri Lanka. To get our service, you all have to do is register our page and place an order for a crop dusting mission. Our well trained employee will arrive to your crop field & do the job for you.  </p>
									<!-- <h3>Follow Me</h3> -->
									<!-- <ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									</ul> -->
								</div>

							<!-- Form -->
								<div class="column inner">
									<h3 style="color:#19B5FE;opacity: 1 !important;">Get in Touch</h3>
									<form action="#" method="post">
										<div class="field half first">
											<label for="name">Name</label>
											<input name="name" id="name" type="text" placeholder="Name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit"></li>
										</ul>
									</form>
								</div>

						</section>

					<!-- Footer -->
						<footer id="footer">
							<div class="copyright inner" id="banner3">
								&copy; Agroshark <a href="#"></a>
							</div>
						</footer>
				</section>
		</div>

	