#toolbar {
    padding:0;
    width:70%;
    margin-left:-35%;
}

header {
    background:#3B8598;
    width:100%;
}

.basic-btn {
    /* width:10px; */
    margin:0;
    padding: 20px;
}

#page {
    padding:3em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}


@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}

.buuton2{
    text-align: right;
    margin: 20px !important;
    padding: 50px !important;
    font-size: 20px !important;
}

.form-panel{
    font-size: 20px;
    border-radius: 5px;
    margin: 50px 400px 50px 400px;
}

.form-panel a{
    font-size: 20px !important;
    border-radius: 5px;
 
}
.form-container{
    height: 6000px !important;
}

/* .row{
    margin-left: 0px !important;
    margin-right:0px !important ;
}
 */













